---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';

// Asegúrate de que posts está definido
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');

// Filtrar y ordenar los posts
const sortedPosts = posts
  .filter((post) => !!post.data.pubDate) // Filtrar posts con fecha válida
  .sort((a, b) => {
    const dateA = new Date(a.data.pubDate).toISOString().split('T')[0]; // Formato: YYYY-MM-DD
    const dateB = new Date(b.data.pubDate).toISOString().split('T')[0]; // Formato: YYYY-MM-DD

    return dateB.localeCompare(dateA); // Ordenar de más reciente a más antiguo
  });

// Toma los 3 últimos posts
const latestPosts = sortedPosts.slice(0, 4);


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
			
			
			<section class="latest-posts">
				<h2 class="text-2xl font-bold mb-4">Últimos Posts</h2>
				<ul class="grid grid-cols-2 gap-8 list-none p-0 m-0 md:grid-cols-2 sm:grid-cols-2 lg:grid-cols-5">
					{
					  latestPosts.map((post) => (
						  <li class="w-full">
							<a href={`/blog/${post.id}/`}>
							  <img class="w-full h-auto mb-4" src={post.data.heroImage} alt={post.data.title} />
							  <h4 class="text-xl font-semibold">{post.data.title}</h4>
							  <p class="text-gray-500">
								<FormattedDate date={post.data.pubDate} />
							  </p>
							</a>
						  </li>
						))
					}
				  </ul>
			  </section>
		</main>

		
		  
		<Footer />
	</body>
</html>

