---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';
import Carousel from "../components/Carousel.astro";
// Aseg칰rate de que posts est치 definido
import { getCollection } from 'astro:content';
import CookieBanner from '../components/CookieBanner.astro';
import LatestContent from '../components/LatestContent.astro';
import Recurso from "../components/Recurso.astro";



const posts = await getCollection('blog');
// Obtener posts de las tres carpetas
const postsIA = await getCollection('inteligenciaartificial');
const postsBlog = await getCollection('blog');
const postsTech = await getCollection('tecnologia');
const viralPosts = await getCollection('viral'); 
const recursoPosts = await getCollection('recurso'); 
// Unir los posts de todas las categor칤as
const allPosts = [...postsIA, ...postsBlog, ...postsTech];
// Filtrar y ordenar los posts por fecha (usando getTime para realizar la resta)
const sortedPosts = allPosts
  .filter((post: any) => !!post.data.pubDate)
  .sort((a: any, b: any) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());

  // Obtener los 칰ltimos 4 posts
const latestPosts = sortedPosts.slice(0, 4);
// Obtener todas las etiquetas 칰nicas
const allTags = [...new Set(posts.flatMap(post => post.data.tags || []))];


// Funci칩n para obtener la URL correcta de cada post seg칰n su colecci칩n
const getPostUrl = (post: any) => {
  if (postsIA.includes(post)) return `/inteligenciaartificial/${post.id}/`;
  if (postsBlog.includes(post)) return `/blog/${post.id}/`;
  if (postsTech.includes(post)) return `/tecnologia/${post.id}/`;
  if (viralPosts.includes(post)) return `/viral/${post.id}/`; 
  if (recursoPosts.includes(post)) return `/recurso/${post.id}/`;
  return `/${post.id}/`; // fallback
}; //Improtante para agregar mas /////////////////////////// ,,...

// Simulaci칩n de datos de art칤culos (puedes reemplazarlos con datos din치micos POST COSTADO)
const sidebarPosts = sortedPosts.slice(0, 6); // Obtiene los 3 posts m치s recientes para la barra lateral


const ultimasEntradas = [
  { 
    title: "Nuevo iPhone 16: Todo lo que sabemos", 
    link: "/tecnologia/gadgets/iphone-16",
    image: "/img/tecnologia/iphone16-thumb.jpg" // Ruta a la imagen peque침a
  },
  { 
    title: "Las mejores laptops para programadores en 2025", 
    link: "/tecnologia/software/laptops-programacion",
    image: "/img/tecnologia/laptops-thumb.jpg" 
  },
  { 
    title: "C칩mo proteger tu privacidad en Internet", 
    link: "/tecnologia/ciberseguridad/privacidad-online",
    image: "/img/tecnologia/privacidad-thumb.jpg" 
  },
];
---
<!doctype html>
<html lang="es">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4385740960461087"
 crossorigin="anonymous"></script>
</head>
<body>
	<Header />
	<main class="container mx-auto px-4 flex flex-col md:flex-row gap-6 justify-center w-full">
		<!-- Contenido Principal -->
		<section class="w-full md:w-2/4 lg:w-2/4">
		  <!-- Carrusel -->
		  <div class="max-w-3xl mx-auto">
			<Carousel />
		  </div>
		  <!-- Secci칩n de Tecnolog칤a -->
		  <!-- <section class="my-6">
			<h2 class="text-2xl font-bold mb-4 text-blue-600">Tecnolog칤a</h2>
			<ul class="grid grid-cols-2 gap-4 md:grid-cols-4">
			  <li><a href="/tecnologia/gadgets" class="block p-4 bg-gray-100 rounded-md hover:bg-gray-200">Gadgets y Dispositivos</a></li>
			  <li><a href="/tecnologia/software" class="block p-4 bg-gray-100 rounded-md hover:bg-gray-200">Software y Desarrollo</a></li>
			  <li><a href="/tecnologia/ciberseguridad" class="block p-4 bg-gray-100 rounded-md hover:bg-gray-200">Ciberseguridad</a></li>
			  <li><a href="/tecnologia/internet" class="block p-4 bg-gray-100 rounded-md hover:bg-gray-200">Internet y Redes</a></li>
			</ul>
		  </section> -->
		  
		  <section>
			<ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
			  {posts.map((post) => (
				<li>
				  <a href={`/inteligenciaartificial/${post.id}`} class="block">
					<img class="w-full h-auto" src={post.data.heroImage} alt="" />
					<h4 class="title mt-2 text-lg font-bold">{post.data.title}</h4>
					<p class="date text-gray-500">
					  <FormattedDate date={post.data.pubDate} />
					</p>
				  </a>
				</li>
			  ))}
			</ul>
		  </section>
		  
		  
		</section>
		
	<!-- Barra Lateral -->
<aside class="w-full md:w-1/4  md:mt-0 sticky sm:w-full xl:w-1/4">
	<section class="bg-gray-100 p-4 rounded-lg shadow-lg mb-6 ">
	  <h2 class="text-xl font-semibold mb-3 text-blue-600">游늷 칔ltimas Entradas</h2>
	  <ul class="list-none space-y-2">
		{sidebarPosts.map((post) => (
		  <li class="flex items-start space-x-4">
			<!-- Imagen con tama침o fijo y sin deformarse -->
			<img src={post.data.heroImage} alt={post.data.title} class="w-20 h-20 object-cover rounded-lg" />
			
			<!-- Enlace con texto completo pero sin deformar el contenedor -->
			<a href={getPostUrl(post)} class="text-blue-600 text-[0.95rem] hover:underline block w-full">
			  <span class="block overflow-hidden text-ellipsis">{post.data.title}</span>
			</a>
		  </li>
		))}
	  </ul>
	</section>
	<LatestContent /> <!-- Aqu칤 se agrega el componente -->
  </aside>
	  </main>
	 
<section class="latest-posts m-4">
	<h2 class="text-2xl font-bold mb-4 text-center ">Viral</h2>
	<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
	  {viralPosts.map((post) => (
		<li class="w-full">
		  <a href={getPostUrl(post)} class="block bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
			<img class="w-full h-56 object-cover rounded-t-lg" src={post.data.heroImage} alt={post.data.title} />
			<div class="p-4">
			  <h4 class="text-lg font-semibold text-gray-900">{post.data.title}</h4>
			  <p class="text-sm text-gray-500 mt-2">
				<FormattedDate date={post.data.pubDate} />
			  </p>
			</div>
		  </a>
		</li>
	  ))}
	</ul>
  </section>
  
  <section class="latest-posts m-4">
	<h2 class="text-2xl font-bold mb-4">칔ltimas Noticias</h2>
	<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
		{viralPosts.map((post) => (
		  <li class="w-full">
			<a href={getPostUrl(post)} class="block bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
			  <img class="w-full h-56 object-cover rounded-t-lg" src={post.data.heroImage} alt={post.data.title} />
			  <div class="p-4">
				<h4 class="text-lg font-semibold text-gray-900">{post.data.title}</h4>
				<p class="text-sm text-gray-500 mt-2">
				  <FormattedDate date={post.data.pubDate} />
				</p>
			  </div>
			</a>
		  </li>
		))}
	  </ul>
	  
  </section>

   <Recurso />

  <CookieBanner />
	<Footer />
</body>
</html>

  
<style>
	.tags {
		margin-bottom: 2rem;
	}
	.tag-list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		list-style: none;
		padding: 0;
	}
	.tag {
		background-color: #007acc;
		color: white;
		padding: 0.3rem 0.6rem;
		border-radius: 5px;
		text-decoration: none;
		font-weight: bold;
	}
	.tag:hover {
		background-color: #005f99;
	}

	
</style>